<div class='comments'>
    <div class='commentsVote'>
        <div class='arrow'> <a href='#'> + </a> </div>
        <div class='arrow'> <a href='#'> - </a> </div>
    </div>
    <div class='commentsInfo'>
        <p class='tagline'>
            <a href='#' class='comment-control'> [-] </a>
            <a href='#' class='comment-control'> <%= typeof(owner) !== 'undefined' ? owner : '404' %> </a>
            <time datetime='<%= date_created %>'> <%= date_created %> </time>
        </p>
        <p class='content'> <%= content %> </p>
        <ul class='buttons'>
            <li class='comments_button'> <a href='#'> permalink </a> </li>
        </ul>
    </div>
</div>
