<form action='/api/comments/<%= newsId %>/' method='post' enctype='application/json' id='newComment'>
    <fieldset><legend> Write a comment </legend>
        <textarea name='content' wrap='hard' rows='20' cols='20'></textarea>
        <input type='hidden' name='news' value='<%= newsId %>'>
        <br>
        <div class="bottomArea">
            <span class="help">
                <a href='#'> formatting help </a>
            </span>
        </div>
        <input type='submit' value='Post'>
    </fieldset>
</form>

<div id="topComment"> </div>

<div class="markhelp" style="display: none;">
    <p> Fua uses slightly modified version of <a href="https://simonwaldherr.github.io/micromarkdown.js/" target="_blank">Micromarkdown</a>. See below for some basics,<br> or find more detailed help <a href="https://simonwaldherr.github.io/micromarkdown.js/" target="_blank">here</a>.</p>
    <table class="md">
        <tbody>
            <tr>
                <th>you type:</th>
                <th>you see:</th>
            </tr>
            <tr>
                <td>*italics*</td>
                <td><i>italics</i></td>
            </tr>
            <tr>
                <td>**bold**</td>
                <td><b>bold</b></td>
            </tr>
            <tr>
                <td>* item 1<br>* item 2<br>* item 3</td>
                <td><ul><li> item 1</li><li> item 2</li><li>item 3</li></ul></td>
            </tr>
            <tr>
                <td>~~strikethrough~~</td>
                <td><s>strikethrough</s></td>
            </tr>
        </tbody>
    </table>
</div>
