<div class='news'>
    <div class='newsVote'>
        <div class='arrow'> <a href='#' class='up'> <img src="/images/up.svg" class='arrow'> </a> </div>
        <div class='score'> <%= upvotes - downvotes %> </div>
        <div class='arrow'> <a href='#' class='down'> <img src="/images/down.svg" class='arrow'> </a> </div>
    </div>
    <div class='newsInfo'>
        <p class='title'>
        <a target='<%= url ? "_blank" : "" %>' href='<%= url ? url : "/comments/" + id %>' class='title'> <%= title %> </a>
            <span class='source'> <a target='_blank' href='<%= (urlParsed.protocol=="https://") ? "https://" : "http://" + urlParsed.host %>'> ( <%= urlParsed.hostname %> ) </a> </span>
        </p>
        <p class='meta'> submitted <time class="timeago" datetime="<%= date_created %>">January 1, 2016</time> by <a href='#' class='meta'><%= username %></a> to <a href='/f/<%= category %>' class='meta'> <%= category %> </a> </p>
        <p class='textPost'></p>
        <ul class='buttons'>
            <li class='comments_buttons'> <a href='/api/comments/<%= id %>' class='comments'> <%= num_comments %> comments </a> </li>
        </ul>
    </div>
</div>
