<form action="/api/news/" method="post" enctype="application/json" id="newLinkPost">
    <fieldset>
        <legend><%=polyglot.t('submit_link')%></legend>
        <b><%=polyglot.t('title')%>:</b><br>
        <input type="text" name="title" size="50">
        <br>
        <b>Url:</b><br>
        <input type="text" name="url" size="50">
        <button type="button" id="suggest_title"><%=polyglot.t('suggest_title')%></button>
        <span id="title_status" style="display:none"></span>
        <br>
        <b><%=polyglot.t('category')%>:</b><br>
        <select required name="category">
            <option value="News"> News </option>
            <option value="Funny"> Funny </option>
            <option value="Sport"> Sport </option>
            <option value="Science_Tech"> Science&Tech </option>
            <option value="Economics"> Economics </option>
            <option value="Life_stories"> Life stories </option>
            <option value="Movies"> Movies </option>
            <option value="Inspire"> Inspire </option>
            <option value="Music"> Music </option>
            <option value="Raznoe"> Raznoe </option>
        </select>
        <br><br>
        <input type="submit" value="<%=polyglot.t('submit')%>">
    </fieldset>
    <hr>
    <%=polyglot.t('url_starts')%>
</form>
