<p> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Tulips_%285527679674%29.jpg/320px-Tulips_%285527679674%29.jpg" alt="tulips" class="pinned"> </p>
<div id="hideThis">
<i><p>Қай жерде, мейлі, қай елде </p>
<p>Әлемнің мәні – Әйелде.</p>
<p>Мықтымын десең оныңды</p>
<p>Әйелге барып дәлелде!</p></i>
<a href='#' name='showMore'> show more </a>
</div>
<br>
<div id="showMore">
<a href='#' name='showMore'> hide </a>
<br>
<br>
<i><p>Қай жерде, мейлі, қай елде </p>
<p>Әлемнің мәні – Әйелде.</p>
<p>Мықтымын десең оныңды</p>
<p>Әйелге барып дәлелде!</p>
<br>
<p>Әйелсіз айтпан әнді мен,</p>
<p>Әйелмен дәмді әңгімем</p>
<p>Сүйкімді болсаң шынымен</p>
<p>Әйелің сүйсін алдымен!</p>
<br>
<p>Әйелге мәлім көп сырың,</p>
<p>Сүрінсең – әйел деп сүрін</p>
<p>Халыққа сыйлы болмайсың</p>
<p>Әйелге болсаң жексұрын.</p>
<br>
<p>Әйелсіз қонды бақ қашан,</p>
<p>Әйел деп түстік отқа сан.</p>
<p>Әлемнің тілін таппайсың</p>
<p>Әйелдің тілін таппасаң!</p>
<br>
<p>Әйелден ыстық от бар ма?</p>
<p>Сол үшін түстік көкпарға.</p>
<p>Қарғағың келсе біреуді</p>
<p>Әйелің өлсін деп қарға!</p>
<br>
<p>Әйелмен құның өлшенер,</p>
<p>Құдайдан кейін – сол шебер.</p>
<p>Бақытты сен де болмайсың</p>
<p>Әйелің сорлы болса егер!</p>
<br>
<p>Сырыңды соған ашасың,</p>
<p>Шөліңді содан басасың.</p>
<p>Адамның күні әйелмен,</p>
<p>Әйелдер мәңгі жасасын!</p></i>
<br>
<p>Жүрсін Ерман мырзаның өлеңіне қосыла отырып, барлықтарыңызды 8 Наурыз мейрамымен құттықтаймыз, достар!!! 🌷🌹🌻🌼💐</p>
<br>
</div>

