{% extends "siteModel/base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="layout_view">

    <div class='about-questions'>

        <h4> Fuagra... What is it anyway? </h4>

        <p class='about'> Fuagra is the front page of Kaznet :) Yep, that's the goal. Although we might re-evalute it once we become the front page ;)</p> 

        <h4> Do I need to register? </h4>

        <p class='about'> Registering is not required to browse Fua. However, please do so in order to contribute to our small awesome community. </p>
        <p class='about'> And by the way, do not forget that your email is optional when signing up. We need it only to restore forgotten passwords. </p>

        <h4> What is Fua? </h4>

        <p class='about'> It is short for Fuagra! :) Not sure if this is asked frequently though.. </p>

        <h4> Something went wrong. </h4>

        <p class='about'> Please let us know! For now, send emails to <a href="mailto:ashakeno@gmail.com"> ashakeno@gmail.com </a> or <a href="mailto:baglan.daribayev@gmail.com"> baglan.daribayev@gmail.com </a>. We value your feedback and respond to emails. Test us :) </p>

    </div>

warmest regards,<br>
team Fua.

</div>

{% endblock %}
