{% extends "siteModel/base.html" %}

{% block title %} Index Page {% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	<h1>Hello, {{ user.username }}!</h1>
	<div>
		Hello {{ user.username }}, you are visiting us {{ visits }} time!
	</div>
	<a href="{% url 'logout' %}">Logout</a><br />
	{% else %}
	Hello Mello, this is first html page<br />
	<a href="{% url 'register' %}">Register</a><br />
	<a href="{% url 'login' %}">Login</a><br />
	{% endif %}

	<ul>
	{% for news_item in news_list %}
		<li>
			<a href="{{ news_item.url }}" target="_blank"> {{ news_item.title }}
			</a> 
			<strong class="like_count" news_id="{{ news_item.id }}">{{ news_item.likes }} likes
			</strong>
		</li>
		{% if user.is_authenticated %}
			<button class="likes btn btn-primary" data-news_id="{{ news_item.id }}" class="btn btn-primary" type="button">
			<span class="glyphicon glyphicon-thumbs-up"></span>
			Like
			</button>
		{% endif %}
	{% endfor %}
	</ul>

{% endblock %}
