{% extends "siteModel/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="layout_view">
        <form id="login_form" method="POST" action="/login/">
        <fieldset>
        <legend> Login </legend>
            {% csrf_token %}
            <b>Username:</b><br>
            <input type="text" name="username" value="" size="50"><br>
            <b>Password:</b><br>
            <input type="password" name="password" value="" size="50">
            <br><br>
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Login" /> or <a href='/register'> register </a>
        </fieldset>
        </form>
    </div>
{% endblock %}
