{% extends "siteModel/base.html" %}

{% block title %} About {% endblock %}

{% block content %}



<div class="layout_view">
{% if notifications %}
	<p>
		<a href="{% url 'notifications:mark_all_as_read' %}?next=/notifications/" class='control'>Mark All As Read</a>
	</p>
{% else %}
	<p>
		You have no notifications
	</p>
{% endif %}

<table class="table-condensed">

{% for notification in notifications %} 
    <tr>
	{% if notification.action_object_object_id %}
        <td>
             {{ notification.actor }}
        </td>
        
        <td>
            <a href="/comments/{{ notification.target_object_id }}#comment_{{notification.action_object_object_id}}">{{ notification.verb }} {% if notification.description %}{{ notification.description|truncatechars:20}}{% endif %}
        </td>
        <td>{{ notification.timesince }} ago</a></td>
	{% else %}
        <td>{{ notification.actor }} </td>
        <td><a href="/comments/{{ notification.target_object_id }}"> {{ notification.verb }} </td>
            
        <td>{{ notification.timesince }} ago</a></td> 
	{% endif %}
	{% if notification.unread %}
    <td>
	<a href="{% url 'notifications:mark_as_read' notification.slug %}?next=/notifications/">Mark as read</a>
    </td>
	{% endif %}
    </tr>
{% endfor %}

</table>

</div>

{% endblock %}
