{% extends "siteModel/base.html" %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <div class="layout_view">
        <form id="reset_pass_form" method="POST" action="/accounts/reset_password/">
        <fieldset>
        <legend> Reset your password </legend>
            {% csrf_token %}
            <b>Password:</b><br>
            <input type="password" name="password" value="" size="50"><br>
            <b>Confirm Password:</b><br>
            <input type="password" name="confirm_password" value="" size="50">
            <br><br>
            <input type="hidden" name="request_id" value="{{ request_id }}" />
            <input type="submit" value="Reset Password" />
        </fieldset>
        </form>
    </div>
{% endblock %}
