{% extends "siteModel/base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="layout_view">
	{% if registered %}
		<strong>Thank you for registering!</strong>
	{% else %}
	<form id="user_form" method="POST" action="/register/" enctype="multipart/form-data">
		{% csrf_token %}
	<fieldset>
	<legend> Please fill in following fields </legend>
	{% for field in user_form %}
	{{field.label_tag}}<br>
	{{field}}<br>
	{% endfor %}
	<br>
		<input type="submit" nam"submit" value="Register" />
	</fieldset>
	</form>
	{% endif %}
</div>
{% endblock %}
