{% extends "siteModel/base.html" %}

{% block title %} Password Reset Request {% endblock %}

{% block content %}
    <div class="layout_view">
        <form id="reset_pass_form" method="POST" action="/accounts/request_password_reset/">
        <fieldset>
        <legend> Reset Password </legend>
            {% csrf_token %}
            <b>Email:</b><br>
            <input type="text" name="email" value="" size="11"><br>
            <br><br>
            <input type="hidden" name="request_id" value="{{ request_id }}" />
            <input type="submit" value="Request Reset" />
        </fieldset>
        </form>
    </div>
{% endblock %}
