{% extends "siteModel/base.html" %}

{% block title %} Submit Page {% endblock %}

{% block content %}

<div class="layout_view">

	{% if user.is_authenticated %}
	<h1>Hello, {{ user.username }}!</h1>

	<form action="/api/news/" method="POST" enctype="application/json">
		{% csrf_token %}
	<fieldset>
	<legend>Submit a new link</legend>
	Title:<br>
	<input type="text" name="title">
	<br>
	Url:<br>
	<input type="text" name="url">
    <br>
	Category:<br>
	<select required name="category">
        <option value="News"> News </option>
        <option value="Funny"> Funny </option>
    </select>
	<br><br>
	<input type="submit" value="Submit"></fieldset>
	</form>	

	{% else %}
	Please register or login first :p
	<br />
	{% endif %}

</div>

{% endblock %}
