{% extends "siteModel/base.html" %}

{% block title %} Submit Page {% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	<h1>Hello, {{ user.username }}!</h1>
	<div>
		Hello {{ user.username }}, you are visiting us {{ visits }} time!
	</div>
	<a href="{% url 'logout' %}">Logout</a><br />

	<form action="/api/news/" method="POST" enctype="application/json">
		{% csrf_token %}
	<fieldset>
	<legend>Submit a new link</legend>
	Title:<br>
	<input type="text" name="title">
	<br>
	Url:<br>
	<input type="text" name="url">
	<br><br>
	<input type="submit" value="Submit"></fieldset>
	</form>	

	{% else %}
	Please register or login first :p
	<br />
	{% endif %}

{% endblock %}
