html,
body {
    margin:0;
    padding:0;
    height:100%;
    font: normal small verdana,arial,helvetica,sans-serif;
}

/* About */
p.about {
    margin: 20px auto 30px auto;
    font-size: 1.2em;
}

div.about-questions {
    margin-bottom: 60px;
}
/* end of About */

a {
    text-decoration: none;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 1.1em;
    font-style: italic;
    border-left: 5px solid #EEE8AA;
}

a.administer {
    color: red;
    display: none;
}

a.control {
    font-weight: bold;
    color: #777;
    text-decoration: underline;
}

.duck {
    width: 130px;
    height: 50px;
}

.navbar-default .navbar-brand {
    color: #DAA520;
    padding: 20px 15px 0px 0px;
    font-size: 2em;
}

div#top {
    width: 90%;
    margin: 0 auto 0 auto;
    /*border: 1px solid red;*/
}

div#bottom {
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    margin: 0 auto 0 auto;
    background-color: #F5DE74;
    /*border: 1px solid black;*/
}

.nav li a {
    font-size: 1em;
    padding: 5px 5px 5px 7px;
}

ul.navbar-right {
    margin: 10px 10px 10px 0;
}

ul.navbar-left {
    margin: 10px 10px 10px 20px;
    font-weight: bold;
}

a.comment-control {
    color: #369;
}

textarea {
    width: 500px;
    height: 100px;
}

table {
    font: normal small verdana,arial,helvetica,sans-serif;
}

div#topComment {
    padding-left: 40px;
    margin: 0 0 20px 0;
}

div.markhelp {
    margin-bottom: 10px;
}

div.collapsed {
    overflow: hidden;
    height: 20px;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#header {
    height: 60px;
    /* padding:10px; */
    background:#5ee;
}

#header-top {
    height: 20px;
    background:#225f5f;
}

.tabmenu li {
    display: inline;
    font-weight: bold;
    margin: 0px 3px;
}

p.title {
    font-size: 1.3em;
    margin: 0;
}

p.meta {
    color: #888;
    font-size: 0.85em;
    margin: 5px 0 0 0;
}

div.content {
    font-size: 1.05em;
    padding-left: 25px;
    max-width: 900px;
}

div.commentsInfo {
    margin-bottom: 5px;
}

/* paragraph styles */
p.tagline {
    margin: 0 0 5px 0;
    font-size: 0.85em;
}
/* url styles */
 .buttons li a, .comments_buttons li a {
    color: #888;
    font-weight: bold;
    font-size: 0.8em;
}

.comments_buttons a.moderating {
    color: #E9967A;
}

.source a {
    color: #888;
    font-size: 0.9em;
}

p.meta a {
    color: #888;
    font-size: 0.9em;
}

/* list styles */
ul.buttons {
    margin: 5px 0 5px 0;
    padding-left: 0;
}

ul.comments_buttons {
    margin: 5px 0 0 0;
    padding-left: 25px;
}

.buttons li {
    display: inline-block;
    margin-right: 3px;
}

div.news {
    padding-bottom: 5px;
    overflow: hidden;
}

div.newsInfo {
    margin: auto auto auto 7px;
    float: left;
    width: 85%;
}

p.textPost {
    padding-left: 15px;
    max-width: 700px;
    background-color: #FFFFF0;
    margin: 5px 0 5px 10px;
}

div.comments {
    padding-bottom: 5px;
    border-left: none;
}

div.newsVote {
    float: left;
    margin-left: 7px;
    margin-top: 7px;
    overflow: hidden;
}

div.commentsVote {
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    overflow: hidden;
}

div.arrow {
    font-size: 15px;
}

img.arrow {
    width: 20px;
    height: 20px;
}

img.newsThumbnail {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 100%;
    color: #EEF;
}

div.newsMedia {
    float: left;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    margin-left: 5px;
    overflow: hidden;
}

div.score {
    font-size: 15px;
    text-align: center;
}

ul.newsList {
    padding-left:0px;
}

li.newsItem {
    padding-left: 0px;
    list-style-type: none;
}

ul#comments {
    padding-left:0px;
}

li.comments_buttons {
    display: inline-block;
}

div.bottomArea {
    width: 500px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
}

p.footer_p {
    margin: 2px auto 3px auto;
}

a.footer_links {
    margin: auto 10px auto 10px;
}

span.help {
    float: right;
}

.md td {
    border: 1px solid #C1BFBF;
}

li.commentsItem {
    padding-left: 15px;
    list-style-type: none;
    border-left: 1px dotted #ddf;
}

div#special_top {
    float: left;
    /*border: 1px solid black;*/
    width: 80%;
    min-height: 80px;
}

div#content {
    float: left;
    /*border: 1px solid black;*/
    width: 80%;
}

div#side {
    background-color: white;
    margin: 0px 5px 0px 5px;
    /*border: 1px solid black;*/
    overflow: hidden;
}

div.sideContainer {
    width: auto;
}

.layout {
    min-height: 100%;
    width: 90%;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

.layout_view {
    min-height: 100%;
    width: 90%;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

.default_container {
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

form.language {
    margin: 7px auto 7px auto;
}
